.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.form-wrapper {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

.register-form {
  width: 100%;
}
